# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
.env
.venv/
*.sqlite3

# Logs
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.pytest_cache/

# Node (frontend için)
node_modules/
dist/